body

  
  body {
    background-image: url('backG001.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  
  }
  
  * {
    box-sizing: border-box;
  }
  
  p {text-align: center;}
  